input[name='order_name'] {
    width: 350px;
    height: 35px;
    background: transparent;
    border: 1px solid rgba(154, 151, 151, 0.3);
    border-radius: 10px;
    padding: 5px 15px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

textarea[name='order_description'] {
    width: 350px;
    height: 100px;
    background: transparent;
    border: 1px solid rgba(154, 151, 151, 0.3);
    border-radius: 10px;
    padding: 5px 15px;
    resize: none;
    margin-top: 5px;
    box-sizing: border-box;
}

input[type='submit'] {
    width: 350px;
    height: 35px;
    border: 1px solid rgba(154, 151, 151, 0.3);
    background: transparent;
    border-radius: 10px;
    cursor: pointer;
    box-sizing: border-box;
}

input[type='submit']:hover {
   border: 1px solid transparent; 
   background-color: rgba(33, 200, 11, 0.3);
}

p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}