/* NAVIGATION BAR */

/* Active tab underline in top tabs bar */
.md-tabs__item .md-tabs__link {
    position: relative;
}

.md-tabs__item--active .md-tabs__link::after {
    content: "";
    position: absolute;
    bottom: -20%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
}
