[bumpversion]
current_version = 0.1.1
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:uv.lock]
search = [[package]]
	name = "mcp-chatkit-widget"
	version = "{current_version}"
replace = [[package]]
	name = "mcp-chatkit-widget"
	version = "{new_version}"
