[buildout]
develop = .
versions = versions
parts = test
        checker
        py


[versions]
pymongo = 3.12.3
m01.stub = 3.13.2


[test]
recipe = zc.recipe.testrunner
eggs = m01.fs [test]


[checker]
recipe = p01.recipe.setup:importchecker
path = src/m01/fs


[py]
recipe = zc.recipe.egg
eggs = m01.fs
interpreter = python
