#response-form {
    display: flex;
    flex-direction: column;
}

#response-form select {
    width: 350px;
    height: 35px;
    background: transparent;
    border: 1px solid rgba(182, 180, 180, 0.7);
    margin-top: 5px;
    margin-bottom: 15px;
}

#response-form button {
    width: 175px;
    height: 35px;
    background: transparent;
    border: 1px solid rgba(182, 180, 180, 0.7);
    margin-top: 15px;
}

#response-form button:hover {
    background: rgba(4, 206, 98, 0.3);
    border: 1px solid transparent;
    cursor: pointer;
}