.main-info-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 35px;
    margin-top: 25px;
}

.main-info-block {
    width: 250px;
    background: linear-gradient(90deg, rgba(26, 132, 203, 0.2), rgba(0,0,0,0.2));
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    box-shadow: 8px 6px 15px black;
}

.main-info-block p:nth-child(1) {
    font-weight: 600;
}

.main-info-block p:nth-child(2) {
    font-size: 28px;
}

.active-item-title {
    padding-left: 45px;
}

.active-order-item {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 2fr 2fr 2fr;
    column-gap: 5px;
    border-bottom: 1px solid rgba(77, 1, 1, 0.5);
    text-align: center;
    font-size: 12px;
}

.active-order-item:first-child {
    font-size: 16px;
}