.wrap-text {
  word-wrap: break-word;
}

.char-count {
  text-align: right;
  color: #808080;
}

.comment-count {
  color: #808080;
}

.margin-0 {
  margin: 0;
}

.float-right {
  float: right;
}

.resize-vertical {
  resize: vertical;
}
