.compare-container{
    display: flex;
    align-items: center;
}
.compare-setup-container{
    width: 25vw;
    height: 75vh;
}
.cards-list-container{
    width: 75vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
}
.setup-card{
    margin-left: 2em;
    padding: 2em;
    height: 100%;
    border-radius: 10px;
    background-color: var(--cmp-card-bg);
    box-shadow: var(--cmp-card-shadow);
}
.comparison-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    width: 90%;
}
.split-card{
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 2rem;
    border-radius: 10px;
    color: var(--cmp-card-color);
    background-color: var(--cmp-card-bg);
    box-shadow: var(--cmp-card-shadow);
}
.split-card.closed{
    height: auto;
}
.split-card-header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2em;
}

.split-card-title{
    font-family: system-ui, sans-serif;
    color: var(--cmp-chart-title);
    font-size: 2rem;
    margin-left: 0.5rem;
}

.multi-charts-container {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.multi-charts-container > * { /*Children of the multi-chart-container will be 2 by rows*/
    flex: 0 0 48%; /* 2 items per row, with some space between */
    margin-bottom: 1em; /* Optional: adds spacing between rows */
}
.accordion-toggle {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.5em;
  color: var(--cmp-accordion-color);
}

.accordion-toggle:hover {
  color: var(--cmp-accordion-color-hover);
}

.accordion-toggle.rotated i {
  transform: rotate(270deg);
  transition: transform 0.3s ease;
}
