.raw-file-view {
    font-size: 1em;
    font-family: monospace;
    color: var(--fv-color);
    margin: 0;
    white-space: pre-wrap;
}
.file-view {
    background-color: var(--fv-bg);
    padding: 1em;
    border-radius: 0.25em;
    overflow: auto;
}