:root {
    /*General*/
    --background-color: #121212;
    --text_color: #e0e0e0;
    --secondary-text-color: #ccc;
    --primary-color: #50A76F;
    --primary-color-hover: #6FBF91;
    --secondary-color: rgb(74, 150, 236);
    --secondary-color-hover: rgb(115, 168, 228);
    --button-shadow-color: rgba(255, 255, 255, 0.15);
    --small-text: 14px;

    --success-color: #4caf50;
    --success-shadow-color: #4caf50aa;
    --failure-color: #f44336;
    --failure-shadow-color: #f44336aa;
    --neutral-color: #9e9e9e;
    --neutral-shadow-color: #9e9e9eaa;

    /*Right-click menu*/
    --menu-bg: #222;
    --menu-bg-hover: #333;
    --menu-border: 1px solid #555;
    --menu-shadow: 0 0 8px rgba(0, 0, 0, 0.5);

    /*Datagrid*/
    --dg-even-row-bg: #1a1a1a;
    --dg-border-color: #333;
    --dg-header-color: var(--secondary-text-color);
    --dg-header-secondary-color: #888;
    --dg-header-bg: #2a2a2a;
    --dg-shadow: 0 -1px 7px 0.5px rgba(255, 255, 255, 0.2);
    --dg-border-radius: 8px;
    --dg-header-active: #4d4d4d;
    --dg-disabled-color: #555;
    --dg-row-hover: #242424;
    --dg-row-selected: #2a2a2a;

    /*Side panel - right*/
    --sp-color: var(--secondary-text-color);
    --sp-accent-color: #fff;
    --sp-bg-color: #2a2a2a;
    --sp-bg-hover: #2F2F2F;
    --sp-tab-bg: #1a1a1a;
    --sp-tab-bg-hover: #4d4d4d;
    --sp-border: 0.01em solid #555;
    --sp-button-shadow: 0 2px 6px 2px rgba(255, 255, 255, 0.05);
    --sp-button-shadow-hover: 0 0 4px 1px rgba(255, 255, 255, 0.05);

    --sp-table-bg: #1e1e1e;
    --sp-table-color: var(--secondary-text-color);
    --sp-table-hover-bg: #2c2c2c;
    --sp-table-header-color: #eee;
    --sp-table-header-bg: #2a2a2a;
    --sp-table-shadow: 0 0 6px 2px rgba(255, 255, 255, 0.05);
    --sp-radius: 8px;



    /*File viewer*/
    --fv-color: #bbb;
    --fv-bg: #1e1e1e;

    /*Charts*/
    --chart-legend-bg: #4d4d4d;
    --chart-legend-bg-hover: #333;
    --chart-legend-color: var(--secondary-text-color);

    --chart-section-title: #fff;
    --chart-section-title-line: 2px solid var(--secondary-text-color);
    --chart-metric-color: #fff;
    --chart-setup-title: #fff;
    --chart-disabled-color: #555;
    --chart-typebox-shadow: 0 0 6px rgba(30, 144, 255, 0.5);

    /*Artefacts (i.e. images, plots, text, etx)*/
    --artefacts-card-bg: #1a1a1a;
    --artefacts-card-shadow: 0 0 6px 2px rgba(255, 255, 255, 0.05);
    --artefacts-card-radius: 8px;
    --artefacts-header-line: 2px solid #333;
    --artefacts-image_size: 10em;
    --artefacts-text-color: var(--secondary-text-color);
    --artefacts-text-font: monospace;

    /*Compare page*/
    --cmp-card-bg: #2a2a2a;
    --cmp-card-shadow: 0 1px 7px 0.5px rgba(255, 255, 255, 0.2);
    --cmp-card-color: var(--secondary-text-color);
    --cmp-chart-title: var(--secondary-text-color);
    --cmp-accordion-color: var(--secondary-text-color);
    --cmp-accordion-color-hover: #4d4d4d;
}