@font-face {
    font-family: 'KodeMono_reg';
    src: url(../fonts/KodeMono-Regular.ttf);
}

@font-face {
    font-family: 'KodeMono_bold';
    src: url(../fonts/KodeMono-Bold.ttf);
}

html {
    font-family: 'KodeMono_reg';
}

a {
    text-decoration:  none;
    color: inherit;
}


.main-wrapper {
    display: grid;
    grid-template-columns: 2fr 5fr;
    column-gap: 10px;
}

.navigation {
    /* border-right: 1px solid rgba(64, 64, 64, 0.7); */
    height: 100vh;
    background: linear-gradient(90deg, rgba(13, 22, 193, 0.7), rgba(98, 9, 223, 0.5));
    box-shadow: 10px 10px 10px black;
    border-radius: 10px 0 0 10px;
    color: white;
}

.nav-wrapper {
    padding: 10px 10px;
}

.nav-list {
    text-decoration: none;
    list-style: none;
}

.nav-item {
    position: relative;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 35px;
    font-size: 18px;
}

.nav-item:hover {
    cursor: pointer;
    font-weight: 800;
}

#menu-all-task::before {
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    background-image: url(../icon/order.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#menu-send-in-work::before {
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    background-image: url(../icon/sync.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
#menu-info-panel::before {
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    background-image: url(../icon/grap.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
#my-task::before {
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    background-image: url(../icon/order.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
#create-order::before {
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    background-image: url(../icon/create.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#menu-ai::before {
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    background-image: url(../icon/ai.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    padding: 10px;
}

.main-header {
    font-size: 24px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}