.order-itel-titles {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 2fr 1fr 2fr;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(180, 177, 177, 0.7);
}

.order-item {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 2fr 1fr 2fr;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(180, 177, 177, 0.7); 
    align-items: center;
    
}