/*
######################################
highlight.js
######################################
*/

code:not(.hljs):not(:where(html[data-fr-scheme="dark"] *)) {
    background-color: var(--background-contrast-grey);
}

code:not(.hljs):not(:where(html[data-fr-scheme="light"] *)) {
    background-color: var(--background-contrast-grey);
}
