#box_title {
    margin-top: 10px;
    font-weight: bold;
}

QToolTip {
    background-color: #222;
    color: white;
}

QMessageBox {
    messagebox-text-interaction-flags: 5;
}
QPushButton,
QPushButton:active {
    color: white;
    background-color: #505f69;
}
QPushButton:hover:!pressed,
QLineEdit,
QComboBox,
QComboBox QAbstractItemView {
    border: 1px solid #00aaff;
}
QComboBox::item:selected {
    background-color: black;
}

QWidget {
    color: white;
    background-color: #1e2830;
}
