/*
######################################
DSFR
######################################
*/

.picto_override {
    width: 2em;
    height: 2em;
    position: relative;
    top: 0.25em;
}

.icon_override {
    --icon-size: 3em
}
